# Demo API endpoints
VITE_DEMO_OTP_API_URL=
VITE_DEMO_OTP_VERIFY_API_URL=
VITE_DEMO_CURRENT_USER_API_URL=
VITE_DEMO_LOGOUT_API_URL=

# Optional Supabase credentials for demo mode
VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=
